{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <div class="container">
        <h1>comment</h1>

        {{ form(commentForm) }}


    </div>

{% endblock %}