{% extends 'base.html.twig' %}

{% block title %}New Quack{% endblock %}

{% block body %}
    <div class="container">

        <div class="create-form-wrapper">
            <h2 class="title-all">Create new Quack</h2>
            <div class="create-form">
                {{ include('quack/_form.html.twig') }}
            </div>

        </div>

        <a class="create-btn link" href="{{ path('app_quack_index') }}">Back to list</a>

    </div>

{% endblock %}
